@{
    ViewBag.Title = "Home Page";
    if (null != TempData["mesaj"])
    {
        <script type="text/javascript">
       alert('@TempData["mesaj"]');
        </script>
    }
}

<div class="jumbotron">
    <h1>URUN PAYLASIM SITESI</h1>
    <p class="lead">Yardima muhtac ve gonullu kisiler arasinda urun paylasimini ve iletisimi saglayan site.</p>
  
</div>
